.header-content {
    margin-left: 50px;
    color:  #cb4335;
    font-family: 'Space Mono', monospace;}
.jumbotron {
    background-color: #cb4335;
    opacity: .7;
}
#indexHeader {
    font-family: 'Monoton', cursive;
    color: #ffffff;
    margin-left: 25px;
}
#goBtn {
    background-color:  #FFC300;
    border-color:  #FFC300;
    border-radius: 12px;
    margin-left:40%;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    white-space: nowrap;
}
#goBtn:hover{
    background-color:  #85c1e9;
    border-color:  #85c1e9;
}
#blinky {
    white-space: nowrap;
    -webkit-animation: 1s blink step-end 
    infinite;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;;
    }
  }
#blinky:hover{
    color: #ffffff;
}
